@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 4.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
}

body .note-popover {
  display: none;
}

body a {
  color: #2a3893;
}

body a:hover {
  color: #30b77d;
}

body header {
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 15;
  background: #2a3893;
  box-shadow: none;
}

body header > .container > .row > div:first-child > a {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 0.8rem 0;
  text-decoration: none;
}

body header > .container > .row > div:first-child > a:hover {
  color: white;
}

body header > .container > .row > div:last-child > ul > li > a {
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  padding: 0.8rem 0 0.7rem 0;
  text-decoration: none;
  font-size: 0.9rem;
}

body header > .container > .row > div:last-child > ul > li > a:hover {
  color: white;
}

body header > .container > .row > div:last-child > ul > li .dropdown-menu {
  border-radius: 0;
  right: 1rem;
  padding: 0;
  min-width: 3rem;
  width: 100%;
  border-top: none;
}

body header > .container > .row > div:last-child > ul > li .dropdown-menu li {
  padding: 0;
  border-bottom: 1px dotted #eee;
}

body header > .container > .row > div:last-child > ul > li .dropdown-menu li a {
  padding: 0.4rem 1rem;
  display: block;
  font-size: 0.9rem;
  text-decoration: none;
}

body header > .container > .row > div:last-child > ul > li .dropdown-menu li:last-child {
  border-bottom: none;
}

body #sidebar_menu ul li {
  border-bottom: 1px solid #eee;
}

body #sidebar_menu ul li > span {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #888;
  text-transform: uppercase;
  display: block;
  padding: 0.8rem 0 0.7rem 0;
  font-weight: normal;
}

body #sidebar_menu ul li a {
  display: block;
  padding: 0.6rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 1.3rem;
  background-color: #f8f8f8;
}

body #sidebar_menu ul li a.active {
  background: #2a3893;
  color: #fff;
  position: relative;
}

body #sidebar_menu ul li a.active::after {
  font-family: 'FontAwesome';
  content: '\f0da';
  position: absolute;
  right: -0.6rem;
  top: 0.6rem;
  font-size: 2rem;
  color: #2a3893;
}

body #sidebar_menu ul li:last-child {
  border-bottom: none;
}

body .checklist_container ul {
  max-height: 10rem;
  overflow: auto;
  margin: 0rem;
  padding: 0rem;
}

body .checklist_container ul li {
  clear: both;
  margin-bottom: 0.2rem;
}

body .checklist_container ul li label {
  padding-left: 1.5rem;
}

body .checklist_container ul li label input {
  float: left;
  margin-left: -1.5rem;
  margin-top: 0.4rem;
}

body .items_pagination {
  display: table;
  margin: -1rem auto;
}

body .items_pagination .pagination li a {
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
  color: #2a3893;
  text-decoration: none;
}

body .items_pagination .pagination li.active a {
  border-color: #dddddd !important;
  background: #eee !important;
  color: #555;
}

body .items_pagination .pagination li:first-child a,
body .items_pagination .pagination li:last-child a {
  border-radius: 0;
}

body .note-editor h1,
body .note-editor h2,
body .note-editor h3,
body .note-editor h4,
body .note-editor h5,
body .note-editor h6 {
  font-family: "Montserrat", sans-serif;
}

body .note-editor h1 {
  font-size: 1.2rem;
}

body .note-editor h2 {
  font-size: 1.15rem;
}

body .note-editor h3 {
  font-size: 1.1rem;
}

body .note-editor h4 {
  font-size: 1.05rem;
}

body .note-editor h5 {
  font-size: 1rem;
}

body .note-editor h6 {
  font-size: 0.95rem;
}

body .note-editor .dropdown-menu {
  border-radius: 0;
  min-width: 8rem !important;
  padding: 0rem;
}

body .note-editor .dropdown-menu li {
  padding: 0;
  border-bottom: 1px dotted #eee;
}

body .note-editor .dropdown-menu li a {
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  display: block;
  font-size: 0.95rem;
}

body .note-editor .dropdown-menu li a p,
body .note-editor .dropdown-menu li a pre,
body .note-editor .dropdown-menu li a blockquote {
  padding: 0;
  margin: 0;
  display: block;
  color: #2a3893;
}

body .note-editor .dropdown-menu li a h1,
body .note-editor .dropdown-menu li a h2,
body .note-editor .dropdown-menu li a h3,
body .note-editor .dropdown-menu li a h4,
body .note-editor .dropdown-menu li a h5,
body .note-editor .dropdown-menu li a h6 {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  display: block;
  color: #2a3893;
}

body .note-editor .dropdown-menu li:last-child {
  border-bottom: none;
}

body h1 {
  margin: 0 0 1.5rem 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4rem;
  font-size: 1.15rem;
}

body h1 a.btn {
  border-radius: 0;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  background-color: #2a3893;
  border-width: 0;
  margin-left: 0.5rem;
}

body h1 a.btn:hover {
  background-color: #30b77d;
}

body .table thead tr th {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .table thead:last-child tr th {
  border-bottom-width: 0;
}

body .table tbody tr td {
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0.5rem 0.7rem;
}

body .table tbody tr td.column-cb {
  width: 1rem;
}

body .table tbody tr td.column-id {
  width: 3.5rem;
}

body .table tbody tr td.column-thumbnail {
  width: 3.9rem;
}

body .table tbody tr td.column-thumbnail img,
body .table tbody tr td.column-thumbnail div {
  background-color: #eee;
  width: 4.5rem;
  height: 4.5rem;
}

body .table tbody tr td.column-title h4 {
  margin: 0 0 0 1rem 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  text-decoration: none;
}

body .table tbody tr td.column-title div {
  visibility: hidden;
}

body .table tbody tr td.column-title div a {
  opacity: 0.8;
}

body .table tbody tr td.column-title div a:not(:first-child):before {
  content: "\00b7";
  padding: 0 0.2rem;
  text-decoration: none;
  color: #231f20;
}

body .table tbody tr td.column-title div a:hover {
  text-decoration: none;
  opacity: 1;
}

body .table tbody tr td.column-title div a.del {
  color: red;
}

body .table tbody tr .column-position {
  width: 6rem;
}

body .table tbody tr .column-order {
  width: 4rem;
}

body .table tbody tr .column-mailing_list {
  width: 12rem;
}

body .table tbody tr .column-name {
  width: 7rem;
}

body .table tbody tr .column-timestamp {
  width: 10rem;
}

body .table tbody tr:hover td.column-title div {
  visibility: visible;
}

body .table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

body .nav-tabs {
  margin: 0 0 1rem 0;
}

body .nav-tabs li:first-child {
  margin-left: 1rem;
}

body .nav-tabs li a {
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 0 !important;
}

body form label:not(:last-child) {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

body form input[type="text"],
body form input[type="email"],
body form input[type="number"],
body form input[type="url"] {
  font-size: 0.9rem;
  border-radius: 0;
  height: 2.1rem !important;
  line-height: 0rem !important;
  padding: 0.3rem 0.5rem !important;
}

body form select {
  font-size: 0.9rem !important;
  border-radius: 0 !important;
  height: 2.1rem !important;
  line-height: 0rem !important;
  padding: 0.3rem 0.5rem !important;
}

body form h4 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 1.5rem 0 0.8rem 0;
  padding: 0;
  line-height: 1rem;
}

body form h4:first-child {
  margin-top: 0rem;
}

body form img {
  margin: 0.5rem 0;
}

body form label[for="show_in_menu"] {
  margin-bottom: -0.5rem;
  display: block;
}

body form input.btn {
  border-radius: 1px;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  background-color: #2a3893;
  border-width: 0;
  font-family: "Montserrat", sans-serif;
  margin: 0.4rem 0 1rem 0;
}

body form input.btn:hover {
  background-color: #30b77d;
}

body .note-btn-group.btn-group.note-color,
body .note-btn-group.btn-group.note-fontname {
  display: none !important;
}

body .note-btn-group button {
  border-radius: 0 !important;
}

body .note-editable {
  font-size: 0.9rem;
}

body .note-frame {
  border-color: rgba(0, 0, 0, 0.15) !important;
}
