@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 76px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  color: #2a3893;
}

body a:hover {
  color: #30b77d;
}

body .alert {
  border-radius: 0;
  padding: 0.6rem 1rem;
}

body header {
  padding: 0.5rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 15;
  background: #fff;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

body header > .container > .row > .col-lg-10 {
  position: relative;
  height: 60px;
}

body header > .container > .row > .col-lg-10 #desktop_menu {
  position: absolute;
  bottom: -0.5rem;
  padding: 0;
  border-radius: 0;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li {
  margin: 0rem;
  position: relative;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li > a {
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 0.8rem 0.6rem 0.8rem;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 600;
  color: #2a3893;
  cursor: default !important;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li > a::after {
  display: none;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu {
  position: fixed;
  top: 4.6rem;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #2a3893;
  border-radius: 0;
  border-width: 0;
  box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.3);
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row {
  margin: 0 -0.5rem;
  position: relative;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row > a {
  position: absolute;
  top: 38%;
  z-index: 10;
  padding: 0.7rem;
  line-height: 0;
  background: #2a3893;
  color: rgba(255, 255, 255, 0.5);
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row > a:hover {
  color: white;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row > a.slick-disabled {
  visibility: hidden;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row > a:first-child {
  left: -1rem;
  border-radius: 0 50% 50% 0;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row > a:last-child {
  right: -1rem;
  border-radius: 50% 0 0 50%;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row .slick-track {
  text-align: center;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row .slick-track a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row .slick-track a div {
  position: relative;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row .slick-track a div .thumbnail-container {
  min-height: 10rem;
  background: rgba(255, 255, 255, 0.5);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li .dropdown-menu .row .slick-track a div span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.95rem;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li:hover > a {
  background: #2a3893;
  color: #fff;
  position: relative;
  border-radius: 0;
}

body header > .container > .row > .col-lg-10 #desktop_menu > ul > li:first-child {
  border-left: none;
}

body header > .container > .row > .col-lg-10 #language_selector {
  position: absolute;
  top: 0;
  right: 1rem;
}

body header > .container > .row > .col-lg-10 #language_selector a {
  font-size: 0.8rem;
}

body header > .container > .row > .col-lg-10 .search_form {
  position: absolute;
  right: 1rem;
  z-index: 5;
  bottom: -1rem;
  font-family: "Source Sans Pro", sans-serif;
}

body header > .container > .row > .col-lg-10 .search_form a {
  position: absolute;
  z-index: 6;
  top: 0.2rem;
  right: 0.6rem;
  color: #fff;
}

body header > .container > .row > .col-lg-10 .search_form .form-group {
  float: right;
  background: #fff;
  transition: all 0.35s, border-radius 0s;
  width: 2rem;
  height: 2rem;
  border: 1px solid #2a3893;
  background: #2a3893;
  border-radius: 2rem;
}

body header > .container > .row > .col-lg-10 .search_form .form-group input.form-control {
  padding: 0.42rem 1.5rem 0.42rem 0.8rem;
  box-shadow: none;
  display: block;
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  text-shadow: none;
}

body header > .container > .row > .col-lg-10 .search_form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}

body header > .container > .row > .col-lg-10 .search_form .form-group input.form-control:-moz-placeholder {
  display: none;
}

body header > .container > .row > .col-lg-10 .search_form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}

body header > .container > .row > .col-lg-10 .search_form:hover .form-group {
  width: 100%;
  border-radius: 0rem;
  background: #fff;
  border: 1px solid #2a3893;
}

body header > .container > .row > .col-lg-10 .search_form:hover a {
  color: #2a3893;
}

body header > .container > .row > .col-lg-10 #toggle_mobile_menu {
  position: absolute;
  right: 1rem;
  bottom: 0;
  text-transform: uppercase;
  padding: 0.2rem 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body header > .container > .row > .col-lg-10 #toggle_mobile_menu > i {
  font-size: 1.2rem;
  float: left;
  margin: 0.1rem 0.5rem 0 0;
}

body header > .container > .row > .col-lg-10 #toggle_mobile_menu:not([aria-expanded="false"]) i.fa-bars {
  display: none;
}

body header > .container > .row > .col-lg-10 #toggle_mobile_menu[aria-expanded="false"] i.fa-times {
  display: none;
}

body header > .container > .row > .col-lg-10 #toggle_mobile_menu.padded {
  right: 5rem;
}

body header > .container > .row > .col-lg-10 #mobile_menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 4.7rem;
  bottom: 0;
  padding: 1rem;
  background: #f8f8f8;
  overflow: auto;
  border-top: 1px solid #ccc;
}

body header > .container > .row > .col-lg-10 #mobile_menu > ul {
  padding: 0;
}

body header > .container > .row > .col-lg-10 #mobile_menu > ul > li {
  display: table;
  width: 100%;
  margin: 0;
  float: none;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #eee;
}

body header > .container > .row > .col-lg-10 #mobile_menu > ul > li > a {
  text-transform: uppercase;
  padding: 0.7rem 0;
}

body header > .container > .row > .col-lg-10 #mobile_menu > ul > li .dropdown-menu {
  position: relative;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  background: transparent;
  padding: 0rem;
  margin-top: -0.5rem;
}

body header > .container > .row > .col-lg-10 #mobile_menu > ul > li .dropdown-menu > a {
  padding: 0.5rem;
  border-bottom: 1px dotted #eee;
  color: #2a3893;
}

body header > .container > .row > .col-lg-10 #mobile_menu > ul > li .dropdown-menu > a:hover {
  color: #30b77d;
}

body header > .container > .row > .col-lg-10 #mobile_menu > ul > li .dropdown-menu > a:last-child {
  border-bottom: none;
}

body header > .container > .row > .col-lg-10 #mobile_menu > ul > li:last-child {
  border-bottom: none;
}

body #home_slider {
  max-height: 33rem;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

body #home_slider .carousel-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body #home_slider .carousel-inner .carousel-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #home_slider .carousel-inner .carousel-item .carousel_container {
  background-image: url("../img/carousel_bg.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

body #home_slider .carousel-inner .carousel-item .carousel_container .carousel-caption {
  padding: 0.9rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: none;
  text-align: left;
}

body #home_slider .carousel-inner .carousel-item .carousel_container .carousel-caption h3 {
  font-size: 1.15rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.7rem;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

body #home_slider .carousel-inner .carousel-item .carousel_container .carousel-caption p {
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin: 0.5rem 0 0 0;
}

body #home_slider .carousel-inner .carousel-item .carousel_container .carousel-caption p:last-child {
  margin-bottom: 0rem;
}

body #home_slider .carousel-inner .carousel-item .carousel_container .carousel-caption a.btn {
  border-radius: 0;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  background-color: #2a3893;
  border-width: 0;
}

body #home_slider .carousel-inner .carousel-item .carousel_container .carousel-caption a.btn:hover {
  background-color: #30b77d;
}

body #home_slider .carousel-control {
  width: 0rem;
}

body #home_slider .carousel-control span[aria-hidden] {
  position: absolute;
  top: 45%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.8rem 1rem 1rem 1rem;
  font-size: 2em;
  line-height: 0rem;
  display: inline-block;
}

body #home_slider .carousel-control span[aria-hidden] i {
  line-height: 1rem;
  text-shadow: none;
}

body #home_slider .carousel-control span[aria-hidden]:hover {
  background: rgba(0, 0, 0, 0.8);
}

body #home_slider .carousel-control.left span[aria-hidden] {
  left: 0;
  padding-left: 0.6rem;
  border-radius: 0 50% 50% 0;
}

body #home_slider .carousel-control.right span[aria-hidden] {
  right: 0;
  padding-right: 0.6rem;
  border-radius: 50% 0 0 50%;
}

body #home_slider .carousel-indicators {
  display: none;
}

body #page_thumbnail {
  max-height: 23rem;
  margin-bottom: 0.5rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #page_thumbnail > div {
  background-image: url("../img/page_thumbnail_bg.png");
  background-repeat: repeat-x;
  background-position: left bottom;
}

body #page_thumbnail > div > .container {
  position: relative;
  max-height: 23rem;
}

body #page_thumbnail > div > .container > div {
  position: absolute;
  padding: 0.9rem 0;
  right: 0.95rem;
  bottom: 0;
  left: 0.95rem;
  color: #fff;
  border-radius: 0.2rem 0.2rem 0 0;
}

body #page_thumbnail > div > .container > div h3 {
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.7rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-transform: capitalize;
}

body #page_thumbnail > div > .container > div p {
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin: 0.5rem 0 0 0;
}

body #page_content {
  margin: 1.5rem 0 1rem 0;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.5rem;
}

body #page_content ol,
body #page_content ul {
  list-style-position: outside;
}

body #page_content ol li,
body #page_content ul li {
  padding-left: 0.9rem;
}

body #page_content img[data-float="left"] {
  margin: 0.8rem 1.5rem 0.5rem 0;
}

body #page_content img[data-float="right"] {
  margin: 0.8rem 0 0.5rem 1.5rem;
}

body #page_content img[data-float="none"] {
  display: table;
  margin: 0.8rem auto 0.5rem auto;
  max-width: 100%;
}

body #page_content #gallery_container {
  position: relative;
  overflow-x: hidden;
  margin-top: 1.5rem;
}

body #page_content .gallery_items {
  margin: -0.5rem -0.75rem 0 -0.75rem;
  position: relative;
}

body #page_content .gallery_items > div {
  padding: 0.4rem;
}

body #page_content .gallery_items > div > h4 {
  margin: 0.6rem 0 0.3rem 0;
  font-size: 0.95rem;
  line-height: 1.4rem;
}

body #page_content .gallery_items > div > h4 a {
  font-family: "Montserrat", sans-serif;
}

body #page_content #galleries_container {
  position: relative;
  margin-top: 1.5rem;
}

body #page_content #galleries_container .gallery_items {
  margin: -0.5rem -0.4rem 0 -0.4rem;
}

body #page_content #playlists_container {
  margin-top: 1.5rem;
  position: relative;
}

body #page_content #playlists_container > .row {
  margin: 0 -0.6rem;
  position: relative;
}

body #page_content #playlists_container > .row > div {
  padding: 0.5rem;
}

body #page_content #playlists_container > .row > div > a {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  background-position: center center;
}

body #page_content #playlists_container > .row > div > h4 {
  margin: 0.6rem 0 0.3rem 0;
  font-size: 0.95rem;
  line-height: 1.4rem;
}

body #page_content #playlists_container > .row > div > h4 a {
  font-family: "Montserrat", sans-serif;
}

body #page_content #playlist_container {
  margin-top: 1.5rem;
  position: relative;
}

body #page_content #playlist_container > .row {
  margin: 0 -0.6rem;
  position: relative;
}

body #page_content #playlist_container > .row > div {
  padding: 0.5rem;
}

body #page_content #playlist_container > .row > div > a {
  position: relative;
  display: block;
}

body #page_content #playlist_container > .row > div > a span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
  font-size: 2rem;
  text-align: center;
  padding-top: 18%;
}

body #page_content #playlist_container > .row > div > a:hover span {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

body #page_content #playlist_container > .row > div > h4 {
  margin: 0.6rem 0 0.3rem 0;
  font-size: 0.95rem;
  line-height: 1.4rem;
}

body #page_content #playlist_container > .row > div > h4 a {
  font-family: "Montserrat", sans-serif;
}

body #page_content #video_container {
  margin: 1rem 0;
}

body #page_content .article_summary {
  font-size: 0.97rem;
  font-style: italic;
  font-weight: 500;
  margin: 0 0 1rem 0;
  color: #231f20;
  opacity: 0.9;
}

body #page_content .article_meta {
  margin: 0 0 1.5rem 0;
  padding: 0.2rem 0 0.5rem 0;
  border-bottom: 1px solid #eee;
}

body #page_content .article_meta a i {
  font-size: 2rem;
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: -0.4rem;
}

body #page_content .article_meta a i.fa-facebook-official {
  color: #3b5998;
}

body #page_content .article_meta a i.fa-twitter {
  color: #55acee;
}

body #page_content .article_meta a:hover i {
  opacity: 0.8;
}

body #page_content > h2 {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  margin: -0.5rem 0 1rem 0;
  line-height: 1.8rem;
  text-align: left;
}

body #page_content h3 {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  margin: 2rem 0 1rem 0;
  line-height: 1.5rem;
}

body #page_content > h3:first-child {
  margin: 0rem 0 1.3rem 0;
  text-transform: capitalize;
}

body #page_content #categories_list {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

body #page_content #categories_list h4 {
  margin: 2.5rem 0 1rem 0;
  height: 1rem;
}

body #page_content #categories_list h4 a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  display: table;
  margin-top: -0.5rem;
  background-color: #fff;
  line-height: 1rem;
  padding-right: 1rem;
}

body #page_content #category_articles_list {
  display: table;
  width: 100%;
  margin: 1rem 0 0 -0.78rem;
}

body #page_content #category_articles_list .row {
  margin: 0 -0.78rem 0 0;
}

body #page_content #category_articles_list .row > div {
  padding: 0 0 0 0.8rem;
  margin-bottom: 0.8rem;
}

body #page_content #category_articles_list .row > div > div {
  height: 14rem;
  position: relative;
}

body #page_content #category_articles_list .row > div > div > h4 {
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  left: 0;
  padding: 0.5rem 1rem 0.7rem 1rem;
  line-height: 1.5rem;
  font-size: 0.95rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

body #page_content #category_articles_list .row > div > div > div {
  display: none;
}

body #page_content #category_articles_list .row > div > div:hover h4 {
  display: none;
}

body #page_content #category_articles_list .row > div > div:hover > div {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.7rem 1rem 1rem 1rem;
}

body #page_content #category_articles_list .row > div > div:hover > div h3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 0 0 0.5rem 0;
}

body #page_content #category_articles_list .row > div > div:hover > div p {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.95rem;
}

body #page_content #category_articles_list .row > div > div:hover > div a.btn {
  border-radius: 0;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  background-color: #2a3893;
  border-width: 0;
}

body #page_content #category_articles_list .row > div > div:hover > div a.btn:hover {
  background-color: #30b77d;
}

body #page_content .items_pagination {
  display: table;
  margin: 0 auto -1rem auto;
}

body #page_content .items_pagination li a {
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  color: #2a3893;
  text-decoration: none;
}

body #page_content .items_pagination li.active a {
  border-color: #dddddd;
  background: #eee;
  color: #555;
}

body #page_content .items_pagination li:first-child a,
body #page_content .items_pagination li:last-child a {
  border-radius: 0;
}

body #page_content > h4 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem 0 1rem 0;
  line-height: 1.5rem;
}

body #page_content #about_sections {
  margin-top: 1rem;
}

body #page_content #about_sections > .row {
  margin: 0 -0.5rem 0 -0.5rem;
}

body #page_content #about_sections > .row > div {
  padding: 1rem 0.5rem 0 0.5rem;
}

body #page_content #about_sections > .row h4 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 1.7rem 0 1rem 0;
  background-color: #eee;
  height: 1rem;
}

body #page_content #about_sections > .row h4 span {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  display: table;
  margin-top: -0.5rem;
  background-color: #fff;
  line-height: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #2a3893;
}

body #page_content #team_member_info .row {
  margin: 0 -1rem;
}

body #page_content #team_member_info .row > * {
  padding: 0 0.5rem;
}

body #page_content #team_member_info .row > *:first-child img {
  margin-top: 0.4rem;
  margin-bottom: 0rem;
}

body #page_content #team_member_info .row > *:first-child h4 {
  margin: 1.5rem 0 0.5rem 0;
  background-color: #eee;
  height: 1rem;
}

body #page_content #team_member_info .row > *:first-child h4 span {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  display: table;
  margin-top: -0.5rem;
  background-color: #fff;
  line-height: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #2a3893;
}

body #page_content #team_categories {
  list-style: none;
  padding: 0;
  margin: 0;
}

body #page_content #team_categories h4 {
  margin: 3rem 0 1rem 0;
  background-color: #eee;
  height: 1rem;
}

body #page_content #team_categories h4 span {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  display: table;
  margin-top: -0.5rem;
  background-color: #fff;
  line-height: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #2a3893;
}

body #page_content #team_categories .row {
  margin: -1rem;
  padding-top: 1rem;
}

body #page_content #team_categories .row > div {
  padding: 0.5rem 1rem;
  text-align: center;
}

body #page_content #team_categories .row > div img {
  max-width: 11rem;
}

body #page_content #team_categories .row > div p:nth-child(2) {
  margin: 0.7rem 0 0.4rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

body #page_content #team_categories .row > div p:nth-child(3) {
  margin: -0.3rem 0 0 0;
}

body #page_content #team_categories .row > div a.btn {
  border-radius: 0;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 1rem 0;
  background-color: #2a3893;
  border-width: 0;
}

body #page_content #team_categories .row > div a.btn:hover {
  background-color: #30b77d;
}

body #page_content #our_websites,
body #page_content #newsletters {
  margin: 0;
  padding: 0;
  list-style: none;
}

body #page_content #our_websites li,
body #page_content #newsletters li {
  padding: 1rem 0;
}

body #page_content #our_websites li .row,
body #page_content #newsletters li .row {
  margin: 0 -0.5rem;
}

body #page_content #our_websites li .row > *,
body #page_content #newsletters li .row > * {
  padding: 0 0.5rem;
}

body #page_content #our_websites li .row > *:first-child a,
body #page_content #newsletters li .row > *:first-child a {
  position: relative;
  display: block;
}

body #page_content #our_websites li .row > *:first-child a span,
body #page_content #newsletters li .row > *:first-child a span {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 0.95rem;
}

body #page_content #our_websites li .row > *:last-child > h4,
body #page_content #newsletters li .row > *:last-child > h4 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0 1rem 0;
  line-height: 1.5rem;
}

body #page_content #our_websites li .row > *:last-child a.btn,
body #page_content #newsletters li .row > *:last-child a.btn {
  border-radius: 0;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  background-color: #2a3893;
  border-width: 0;
  float: right;
  margin-top: 1rem;
}

body #page_content #our_websites li .row > *:last-child a.btn:hover,
body #page_content #newsletters li .row > *:last-child a.btn:hover {
  background-color: #30b77d;
}

body #page_content #our_websites li:not(:last-child),
body #page_content #newsletters li:not(:last-child) {
  border-bottom: 1px dotted #ccc;
}

body #page_content .subscription_form h3,
body #page_content .payment_form h3 {
  font-size: 1rem;
  color: #2a3893;
}

body #page_content .subscription_form input[type="text"],
body #page_content .subscription_form input[type="number"],
body #page_content .subscription_form input[type="email"],
body #page_content .subscription_form select,
body #page_content .payment_form input[type="text"],
body #page_content .payment_form input[type="number"],
body #page_content .payment_form input[type="email"],
body #page_content .payment_form select {
  border-radius: 0;
  font-size: 0.9rem;
}

body #page_content .subscription_form .btn,
body #page_content .payment_form .btn {
  border-radius: 0;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  background-color: #2a3893;
  border-width: 0;
  float: left;
  margin-top: 1rem;
}

body #page_content .subscription_form .btn:hover,
body #page_content .payment_form .btn:hover {
  background-color: #30b77d;
}

body #page_content .subscription_form .mailing_list_list,
body #page_content .payment_form .mailing_list_list {
  display: block;
}

body #page_content .subscription_form .mailing_list_list input,
body #page_content .payment_form .mailing_list_list input {
  float: left;
  margin: 0.4rem 0.5rem 0 0;
}

body #page_content #search_results {
  margin: 2rem 0 0 0;
  padding: 0rem;
  list-style: none;
}

body #page_content #search_results li {
  display: block;
  padding-bottom: 1rem;
  margin: 0 0 1rem 0;
  border-bottom: 1px dotted #eee;
}

body #page_content #search_results li .row {
  margin: 0 -0.4rem;
  padding: 0;
}

body #page_content #search_results li .row > *:first-child a {
  display: block;
  margin-top: 0.2rem;
}

body #page_content #search_results li .row > * {
  padding: 0 0.4rem;
}

body #page_content #search_results li .row > * h4 {
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
}

body #page_content #search_results li .row > * p {
  margin-bottom: 0rem;
}

body #page_content #search_results li:last-child {
  border-bottom: none;
  padding-bottom: 0rem;
}

body #featured_categories {
  margin: 1rem 0;
}

body #featured_categories .featured_category .title {
  margin: 2.5rem 0 1rem 0;
  background-color: #eee;
  height: 1rem;
}

body #featured_categories .featured_category .title a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.95rem;
  display: table;
  max-width: 80%;
  margin-top: -0.5rem;
  background-color: #fff;
  line-height: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body #featured_categories .featured_category .featured-articles {
  overflow-x: hidden;
}

body #featured_categories .featured_category .featured-articles .row {
  margin: 0 -0.78rem 0 0;
}

body #featured_categories .featured_category .featured-articles .row > a {
  position: absolute;
  top: 40%;
  z-index: 5;
  color: #fff;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.62rem 0.6rem 0.58rem 0.8rem;
  line-height: 0rem;
  border-radius: 100%;
}

body #featured_categories .featured_category .featured-articles .row > a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

body #featured_categories .featured_category .featured-articles .row > a.slick-disabled {
  visibility: hidden;
}

body #featured_categories .featured_category .featured-articles .row > a:first-child {
  padding: 0.62rem 0.8rem 0.58rem 0.6rem;
  left: 1rem;
}

body #featured_categories .featured_category .featured-articles .row > a:last-child {
  right: 1.5rem;
}

body #featured_categories .featured_category .featured-articles .row > div {
  padding: 0;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track {
  margin: 0 -0.8rem;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div {
  padding: 0 0 0 0.8rem;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div > div {
  height: 14rem;
  position: relative;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div > div > h4 {
  position: absolute;
  right: 0;
  bottom: -0.8rem;
  left: 0;
  padding: 0.5rem 1rem 0.8rem 1rem;
  line-height: 1.5rem;
  font-size: 0.95rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div > div > div {
  display: none;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div > div:hover h4 {
  display: none;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div > div:hover > div {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.7rem 1rem 1rem 1rem;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div > div:hover > div h3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div > div:hover > div p {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.95rem;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div > div:hover > div a.btn {
  border-radius: 0;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  background-color: #2a3893;
  border-width: 0;
}

body #featured_categories .featured_category .featured-articles .row > div .slick-track > div > div:hover > div a.btn:hover {
  background-color: #30b77d;
}

body #related_articles_list,
body #related_projects_list,
body .partner_category {
  text-align: left;
}

body #related_articles_list .title,
body #related_projects_list .title,
body .partner_category .title {
  margin: 3rem 0 1rem 0;
  background-color: #eee;
  height: 1rem;
}

body #related_articles_list .title span,
body #related_projects_list .title span,
body .partner_category .title span {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  display: table;
  margin-top: -0.5rem;
  background-color: #fff;
  line-height: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #2a3893;
}

body #related_articles_list .partners h4,
body #related_projects_list .partners h4,
body .partner_category .partners h4 {
  text-align: center;
}

body #related_articles_list .articles,
body #related_articles_list .projects,
body #related_articles_list .partners,
body #related_projects_list .articles,
body #related_projects_list .projects,
body #related_projects_list .partners,
body .partner_category .articles,
body .partner_category .projects,
body .partner_category .partners {
  overflow-x: hidden;
}

body #related_articles_list .articles .row,
body #related_articles_list .projects .row,
body #related_articles_list .partners .row,
body #related_projects_list .articles .row,
body #related_projects_list .projects .row,
body #related_projects_list .partners .row,
body .partner_category .articles .row,
body .partner_category .projects .row,
body .partner_category .partners .row {
  margin: 0 -0.78rem 0 0;
}

body #related_articles_list .articles .row > a,
body #related_articles_list .projects .row > a,
body #related_articles_list .partners .row > a,
body #related_projects_list .articles .row > a,
body #related_projects_list .projects .row > a,
body #related_projects_list .partners .row > a,
body .partner_category .articles .row > a,
body .partner_category .projects .row > a,
body .partner_category .partners .row > a {
  position: absolute;
  top: 40%;
  z-index: 5;
  color: #fff;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.62rem 0.6rem 0.58rem 0.8rem;
  line-height: 0rem;
  border-radius: 100%;
}

body #related_articles_list .articles .row > a:hover,
body #related_articles_list .projects .row > a:hover,
body #related_articles_list .partners .row > a:hover,
body #related_projects_list .articles .row > a:hover,
body #related_projects_list .projects .row > a:hover,
body #related_projects_list .partners .row > a:hover,
body .partner_category .articles .row > a:hover,
body .partner_category .projects .row > a:hover,
body .partner_category .partners .row > a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

body #related_articles_list .articles .row > a.slick-disabled,
body #related_articles_list .projects .row > a.slick-disabled,
body #related_articles_list .partners .row > a.slick-disabled,
body #related_projects_list .articles .row > a.slick-disabled,
body #related_projects_list .projects .row > a.slick-disabled,
body #related_projects_list .partners .row > a.slick-disabled,
body .partner_category .articles .row > a.slick-disabled,
body .partner_category .projects .row > a.slick-disabled,
body .partner_category .partners .row > a.slick-disabled {
  visibility: hidden;
}

body #related_articles_list .articles .row > a:first-child,
body #related_articles_list .projects .row > a:first-child,
body #related_articles_list .partners .row > a:first-child,
body #related_projects_list .articles .row > a:first-child,
body #related_projects_list .projects .row > a:first-child,
body #related_projects_list .partners .row > a:first-child,
body .partner_category .articles .row > a:first-child,
body .partner_category .projects .row > a:first-child,
body .partner_category .partners .row > a:first-child {
  padding: 0.62rem 0.8rem 0.58rem 0.6rem;
  left: 1rem;
}

body #related_articles_list .articles .row > a:last-child,
body #related_articles_list .projects .row > a:last-child,
body #related_articles_list .partners .row > a:last-child,
body #related_projects_list .articles .row > a:last-child,
body #related_projects_list .projects .row > a:last-child,
body #related_projects_list .partners .row > a:last-child,
body .partner_category .articles .row > a:last-child,
body .partner_category .projects .row > a:last-child,
body .partner_category .partners .row > a:last-child {
  right: 1.5rem;
}

body #related_articles_list .articles .row > div,
body #related_articles_list .projects .row > div,
body #related_articles_list .partners .row > div,
body #related_projects_list .articles .row > div,
body #related_projects_list .projects .row > div,
body #related_projects_list .partners .row > div,
body .partner_category .articles .row > div,
body .partner_category .projects .row > div,
body .partner_category .partners .row > div {
  padding: 0;
}

body #related_articles_list .articles .row > div .slick-track,
body #related_articles_list .projects .row > div .slick-track,
body #related_articles_list .partners .row > div .slick-track,
body #related_projects_list .articles .row > div .slick-track,
body #related_projects_list .projects .row > div .slick-track,
body #related_projects_list .partners .row > div .slick-track,
body .partner_category .articles .row > div .slick-track,
body .partner_category .projects .row > div .slick-track,
body .partner_category .partners .row > div .slick-track {
  margin: 0 -0.8rem;
}

body #related_articles_list .articles .row > div .slick-track > div,
body #related_articles_list .projects .row > div .slick-track > div,
body #related_articles_list .partners .row > div .slick-track > div,
body #related_projects_list .articles .row > div .slick-track > div,
body #related_projects_list .projects .row > div .slick-track > div,
body #related_projects_list .partners .row > div .slick-track > div,
body .partner_category .articles .row > div .slick-track > div,
body .partner_category .projects .row > div .slick-track > div,
body .partner_category .partners .row > div .slick-track > div {
  padding: 0 0 0 0.8rem;
}

body #related_articles_list .articles .row > div .slick-track > div > div,
body #related_articles_list .projects .row > div .slick-track > div > div,
body #related_articles_list .partners .row > div .slick-track > div > div,
body #related_projects_list .articles .row > div .slick-track > div > div,
body #related_projects_list .projects .row > div .slick-track > div > div,
body #related_projects_list .partners .row > div .slick-track > div > div,
body .partner_category .articles .row > div .slick-track > div > div,
body .partner_category .projects .row > div .slick-track > div > div,
body .partner_category .partners .row > div .slick-track > div > div {
  height: 14rem;
  position: relative;
}

body #related_articles_list .articles .row > div .slick-track > div > div > h4,
body #related_articles_list .projects .row > div .slick-track > div > div > h4,
body #related_articles_list .partners .row > div .slick-track > div > div > h4,
body #related_projects_list .articles .row > div .slick-track > div > div > h4,
body #related_projects_list .projects .row > div .slick-track > div > div > h4,
body #related_projects_list .partners .row > div .slick-track > div > div > h4,
body .partner_category .articles .row > div .slick-track > div > div > h4,
body .partner_category .projects .row > div .slick-track > div > div > h4,
body .partner_category .partners .row > div .slick-track > div > div > h4 {
  position: absolute;
  right: 0;
  bottom: -0.8rem;
  left: 0;
  padding: 0.5rem 1rem 0.8rem 1rem;
  line-height: 1.5rem;
  font-size: 0.95rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

body #related_articles_list .articles .row > div .slick-track > div > div > div,
body #related_articles_list .projects .row > div .slick-track > div > div > div,
body #related_articles_list .partners .row > div .slick-track > div > div > div,
body #related_projects_list .articles .row > div .slick-track > div > div > div,
body #related_projects_list .projects .row > div .slick-track > div > div > div,
body #related_projects_list .partners .row > div .slick-track > div > div > div,
body .partner_category .articles .row > div .slick-track > div > div > div,
body .partner_category .projects .row > div .slick-track > div > div > div,
body .partner_category .partners .row > div .slick-track > div > div > div {
  display: none;
}

body #related_articles_list .articles .row > div .slick-track > div > div:hover h4,
body #related_articles_list .projects .row > div .slick-track > div > div:hover h4,
body #related_articles_list .partners .row > div .slick-track > div > div:hover h4,
body #related_projects_list .articles .row > div .slick-track > div > div:hover h4,
body #related_projects_list .projects .row > div .slick-track > div > div:hover h4,
body #related_projects_list .partners .row > div .slick-track > div > div:hover h4,
body .partner_category .articles .row > div .slick-track > div > div:hover h4,
body .partner_category .projects .row > div .slick-track > div > div:hover h4,
body .partner_category .partners .row > div .slick-track > div > div:hover h4 {
  display: none;
}

body #related_articles_list .articles .row > div .slick-track > div > div:hover > div,
body #related_articles_list .projects .row > div .slick-track > div > div:hover > div,
body #related_articles_list .partners .row > div .slick-track > div > div:hover > div,
body #related_projects_list .articles .row > div .slick-track > div > div:hover > div,
body #related_projects_list .projects .row > div .slick-track > div > div:hover > div,
body #related_projects_list .partners .row > div .slick-track > div > div:hover > div,
body .partner_category .articles .row > div .slick-track > div > div:hover > div,
body .partner_category .projects .row > div .slick-track > div > div:hover > div,
body .partner_category .partners .row > div .slick-track > div > div:hover > div {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.7rem 1rem 1rem 1rem;
}

body #related_articles_list .articles .row > div .slick-track > div > div:hover > div h3,
body #related_articles_list .projects .row > div .slick-track > div > div:hover > div h3,
body #related_articles_list .partners .row > div .slick-track > div > div:hover > div h3,
body #related_projects_list .articles .row > div .slick-track > div > div:hover > div h3,
body #related_projects_list .projects .row > div .slick-track > div > div:hover > div h3,
body #related_projects_list .partners .row > div .slick-track > div > div:hover > div h3,
body .partner_category .articles .row > div .slick-track > div > div:hover > div h3,
body .partner_category .projects .row > div .slick-track > div > div:hover > div h3,
body .partner_category .partners .row > div .slick-track > div > div:hover > div h3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.9rem !important;
  line-height: 1.5rem !important;
  margin: 0 0 0.5rem 0 !important;
}

body #related_articles_list .articles .row > div .slick-track > div > div:hover > div span,
body #related_articles_list .projects .row > div .slick-track > div > div:hover > div span,
body #related_articles_list .partners .row > div .slick-track > div > div:hover > div span,
body #related_projects_list .articles .row > div .slick-track > div > div:hover > div span,
body #related_projects_list .projects .row > div .slick-track > div > div:hover > div span,
body #related_projects_list .partners .row > div .slick-track > div > div:hover > div span,
body .partner_category .articles .row > div .slick-track > div > div:hover > div span,
body .partner_category .projects .row > div .slick-track > div > div:hover > div span,
body .partner_category .partners .row > div .slick-track > div > div:hover > div span {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 0.5rem;
}

body #related_articles_list .articles .row > div .slick-track > div > div:hover > div p,
body #related_articles_list .projects .row > div .slick-track > div > div:hover > div p,
body #related_articles_list .partners .row > div .slick-track > div > div:hover > div p,
body #related_projects_list .articles .row > div .slick-track > div > div:hover > div p,
body #related_projects_list .projects .row > div .slick-track > div > div:hover > div p,
body #related_projects_list .partners .row > div .slick-track > div > div:hover > div p,
body .partner_category .articles .row > div .slick-track > div > div:hover > div p,
body .partner_category .projects .row > div .slick-track > div > div:hover > div p,
body .partner_category .partners .row > div .slick-track > div > div:hover > div p {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.95rem;
}

body #related_articles_list .articles .row > div .slick-track > div > div:hover > div a.btn,
body #related_articles_list .projects .row > div .slick-track > div > div:hover > div a.btn,
body #related_articles_list .partners .row > div .slick-track > div > div:hover > div a.btn,
body #related_projects_list .articles .row > div .slick-track > div > div:hover > div a.btn,
body #related_projects_list .projects .row > div .slick-track > div > div:hover > div a.btn,
body #related_projects_list .partners .row > div .slick-track > div > div:hover > div a.btn,
body .partner_category .articles .row > div .slick-track > div > div:hover > div a.btn,
body .partner_category .projects .row > div .slick-track > div > div:hover > div a.btn,
body .partner_category .partners .row > div .slick-track > div > div:hover > div a.btn {
  border-radius: 0;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  background-color: #2a3893;
  border-width: 0;
}

body #related_articles_list .articles .row > div .slick-track > div > div:hover > div a.btn:hover,
body #related_articles_list .projects .row > div .slick-track > div > div:hover > div a.btn:hover,
body #related_articles_list .partners .row > div .slick-track > div > div:hover > div a.btn:hover,
body #related_projects_list .articles .row > div .slick-track > div > div:hover > div a.btn:hover,
body #related_projects_list .projects .row > div .slick-track > div > div:hover > div a.btn:hover,
body #related_projects_list .partners .row > div .slick-track > div > div:hover > div a.btn:hover,
body .partner_category .articles .row > div .slick-track > div > div:hover > div a.btn:hover,
body .partner_category .projects .row > div .slick-track > div > div:hover > div a.btn:hover,
body .partner_category .partners .row > div .slick-track > div > div:hover > div a.btn:hover {
  background-color: #30b77d;
}

body footer {
  background: #2a3893;
  padding: 2rem 0;
  margin-top: 1rem;
}

body footer > .container > .row {
  margin: 0 -1rem;
}

body footer > .container > .row > * {
  padding: 0 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  min-height: 6rem;
}

body footer > .container > .row > * > div {
  padding-top: 0.5rem;
}

body footer > .container > .row > * > div h3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.95rem;
  line-height: 0rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

body footer > .container > .row > * > div ul {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
}

body footer > .container > .row > * > div ul li a {
  color: rgba(255, 255, 255, 0.8);
  padding: 0.4rem 0;
  display: block;
  font-size: 0.95rem;
}

body footer > .container > .row > * > div ul li a i {
  font-size: 2rem;
  float: left;
  margin: -0.3rem 0.5rem 0 0;
}

body footer > .container > .row > * > div ul li a:hover {
  color: white;
  text-decoration: none;
}

body footer > .container > .row > * > div ul li:not(:last-child) {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
}

body footer > .container > .row > *:first-child {
  border: none;
}

body footer > .container > .row > *:last-child > div h3 {
  margin-bottom: 1.1rem;
}

body footer > .container > .row > *:last-child > div ul li a {
  padding: 0.9rem 0;
}

body .featured-articles .content-slider,
body #related_articles_list .content-slider,
body #related_projects_list .content-slider,
body .partner_category .content-slider {
  visibility: hidden;
}

