@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f8f8f8;
}

body #login_form {
  display: table;
  margin: 12rem auto 0 auto;
  width: 17rem;
  border-radius: 0;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
  padding: 1rem;
  background-color: #fff;
  opacity: 0;
}

body #login_form img {
  display: table;
  margin: 0 auto 1rem auto;
}

body #login_form input[type="text"] {
  border-radius: 0;
  font-size: 0.9rem;
  height: 2.2rem;
}

body #login_form input[type="password"] {
  border-radius: 0;
  font-size: 0.9rem;
  height: 2.2rem;
  border-top: none;
}

body #login_form .btn {
  margin-top: 1rem;
  font-size: 0.9rem;
  height: 2.2rem;
  line-height: 0rem;
  border-radius: 0;
}