@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i' );
@import url( 'https://fonts.googleapis.com/css?family=Montserrat' );

$headings-font: 'Montserrat', sans-serif;
$content-font: 'Source Sans Pro', sans-serif;

$dark-color: #231f20;

$link-color: #2a3893;
$link-hover-color: #30b77d;
$overlay-color: rgba( 0, 0, 0, 0.6 );
$overlay-hover-color: rgba( 0, 0, 0, 0.8 );

@mixin box-shadow( $params... ) {
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
		box-shadow: $params;
}

@mixin border-radius( $params... ) {
	-webkit-border-radius: $params;
	-moz-border-radius: $params;
		border-radius: $params;
}

@mixin round-position( $params... ) {
	top: $params;
	right: $params;
	bottom: $params;
	left: $params;
}

@mixin full-background( $position ) {
	background-position: $position;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	font-family: $content-font;
	padding-top: 76px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	a {
		color: $link-color;
	}

	a:hover {
		color: $link-hover-color;
	}

	.alert {
		@include border-radius(0);
		padding: 0.6rem 1rem;
	}

	header {
		padding: 0.5rem 0;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 15;
		background: #fff;
		@include box-shadow( 0 1px #FFFFFF inset, 0 1px 3px rgba( 34, 25, 25, 0.4 ) );

		> .container > .row > .col-lg-10 {
			position: relative;
			height: 60px;

			#desktop_menu {
				position: absolute;
				bottom: -0.5rem;
				padding: 0;
				@include border-radius(0);

				> ul {

					> li {
						margin: 0rem;
						position: relative;

						> a {
							font-family: $headings-font;
							padding: 0.5rem 0.8rem 0.6rem 0.8rem;
							text-transform: uppercase;
							font-size: 0.85em;
							font-weight: 600;
							color: $link-color;
							cursor: default !important;
						}

						> a::after {
							display: none;
						}

						.dropdown-menu {
							position: fixed;
							top: 4.6rem;
							left: 0;
							right: 0;
							padding: 1rem;
							background: $link-color;
							@include border-radius(0);
							border-width: 0;
							@include box-shadow( 0 5px 10px -4px rgba( 0, 0, 0, 0.3 ) );

							.row {
								margin: 0 -0.5rem;
								position: relative;

								> a {
									position: absolute;
									top: 38%;
									z-index: 10;
									padding: 0.7rem;
									line-height: 0;
									background: $link-color;
									color: rgba( 255, 255, 255, 0.5 );
								}

								> a:hover {
									color: rgba( 255, 255, 255, 1 );
								}

								> a.slick-disabled {
									visibility: hidden;
								}

								> a:first-child {
									left: -1rem;
									@include border-radius( 0 50% 50% 0 );
								}

								> a:last-child {
									right: -1rem;
									@include border-radius( 50% 0 0 50% );
								}

								.slick-track {
									text-align: center;

									a {
										padding-left: 0.5rem;
										padding-right: 0.5rem;
										text-align: center;

										div {
											position: relative;

											.thumbnail-container {
												min-height: 10rem;
												background: rgba( 255, 255, 255, 0.5 );
												@include full-background( center center );
											}

											span {
												position: absolute;
												left: 0;
												right: 0;
												bottom: 0;
												font-size: 0.95rem;
												color: #fff;
												font-family: $content-font;
												text-transform: capitalize;
												background: rgba( 0, 0, 0, 0.5 );
												padding: 0.5rem 1rem;
												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}
										}
									}
								}
							}
						}
					}

					> li:hover > a {
						background: $link-color;
						color: #fff;
						position: relative;
						@include border-radius( 0 );
					}

					> li:first-child {
						border-left: none;
					}
				}
			}

			#language_selector {
				position: absolute;
				top: 0;
				right: 1rem;

				a {
					font-size: 0.8rem;
				}
			}

			.search_form {
				position: absolute;
				right: 1rem;
				z-index: 5;
				bottom: -1rem;
				font-family: $content-font;

				a {
					position: absolute;
					z-index: 6;
					top: 0.2rem;
					right: 0.6rem;
					color: #fff;
				}

				.form-group {
					float: right;
					background: #fff;
					transition: all 0.35s, border-radius 0s;
					width: 2rem;
					height: 2rem;
					border: 1px solid $link-color;
					background: $link-color;
					@include border-radius(2rem);

					input.form-control {
						padding: 0.42rem 1.5rem 0.42rem 0.8rem;
						@include box-shadow(none);
						display: block;
						background-color: transparent;
						border: none;
						font-size: 0.9rem;
						text-shadow: none;
					}

					input.form-control::-webkit-input-placeholder {
						display: none;
					}

					input.form-control:-moz-placeholder {
						display: none;
					}

					input.form-control:-ms-input-placeholder {
						display: none;
					}
				}
			}

			.search_form:hover {
				.form-group {
					width: 100%;
					@include border-radius(0rem);
					background: #fff;
					border: 1px solid $link-color;
				}

				a {
					color: $link-color;
				}
			}

			#toggle_mobile_menu {
				position: absolute;
				right: 1rem;
				bottom: 0;
				text-transform: uppercase;
				padding: 0.2rem 0;
				font-family: $headings-font;
				text-decoration: none;
			}

				#toggle_mobile_menu > i {
					font-size: 1.2rem;
					float: left;
					margin: 0.1rem 0.5rem 0 0;
				}

				#toggle_mobile_menu:not([aria-expanded="false"]) i.fa-bars {
					display: none;
				}

				#toggle_mobile_menu[aria-expanded="false"] i.fa-times {
					display: none;
				}

			#toggle_mobile_menu.padded {
				right: 5rem;
			}

			#mobile_menu {
				position: fixed;
				left: 0;
				right: 0;
				top: 4.7rem;
				bottom: 0;
				padding: 1rem;
				background: #f8f8f8;
				overflow: auto;
				border-top: 1px solid #ccc;

				> ul {
					padding: 0;

					> li {
						display: table;
						width: 100%;
						margin: 0;
						float: none;
						font-family: $headings-font;
						border-bottom: 1px solid #eee;

						> a {
							text-transform: uppercase;
							padding: 0.7rem 0;
						}

						.dropdown-menu {
							position: relative;
							width: 100%;
							font-family: $content-font;
							border: none;
							background: transparent;
							padding: 0rem;
							margin-top: -0.5rem;

							> a {
								padding: 0.5rem;
								border-bottom: 1px dotted #eee;
								color: $link-color;
							}

							> a:hover {
								color: $link-hover-color;
							}

							> a:last-child {
								border-bottom: none;
							}
						}
					}

					> li:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}

	#home_slider {
		max-height: 33rem;
		overflow: hidden;
		position: relative;
		z-index: 10;

		.carousel-inner {
			position: absolute;
			@include round-position( 0 );

			.carousel-item {
				position: absolute;
				@include round-position( 0 );
				@include full-background( center center );

				.carousel_container {
					background-image: url( '../img/carousel_bg.png' );
					background-repeat: repeat-x;
					background-position: left bottom;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					position: absolute;

					.carousel-caption {
						padding: 0.9rem;
						left: 0;
						right: 0;
						bottom: 0;
						text-shadow: none;
						text-align: left;

						h3 {
							font-size: 1.15rem;
							font-weight: 300;
							margin: 0;
							line-height: 1.7rem;
							font-family: $headings-font;
							text-transform: capitalize;
						}

						p {
							font-size: 0.95rem;
							line-height: 1.5rem;
							margin: 0.5rem 0 0 0;
						}

						p:last-child {
							margin-bottom: 0rem;
						}

						a.btn {
							@include border-radius( 0 );
							font-size: 0.95rem;
							padding: 0.5rem 1rem;
							margin-top: 0.8rem;
							background-color: $link-color;
							border-width: 0;
						}

						a.btn:hover {
							background-color: $link-hover-color;
						}
					}

				}
			}
		}

		.carousel-control {
			width: 0rem;

			span[aria-hidden] {
				position: absolute;
				top: 45%;
				background: $overlay-color;
				padding: 0.8rem 1rem 1rem 1rem;
				font-size: 2em;
				line-height: 0rem;
				display: inline-block;

				i {
					line-height: 1rem;
					text-shadow: none;
				}
			}

			span[aria-hidden]:hover {
				background: $overlay-hover-color;
			}
		}

		.carousel-control.left {
			span[aria-hidden] {
				left: 0;
				padding-left: 0.6rem;
				@include border-radius( 0 50% 50% 0 );
			}
		}

		.carousel-control.right {
			span[aria-hidden] {
				right: 0;
				padding-right: 0.6rem;
				@include border-radius( 50% 0 0 50% );
			}
		}

		.carousel-indicators {
			display: none;
		}
	}

	#page_thumbnail {
		max-height: 23rem;
		margin-bottom: 0.5rem;
		@include full-background( center center );

		> div {
			background-image: url( '../img/page_thumbnail_bg.png' );
			background-repeat: repeat-x;
			background-position: left bottom;

			> .container {
				position: relative;
				max-height: 23rem;

				> div {
					position: absolute;
					padding: 0.9rem 0;
					right: 0.95rem;
					bottom: 0;
					left: 0.95rem;
					color: #fff;
					@include border-radius(0.2rem 0.2rem 0 0);

					h3 {
						font-size: 1.15rem;
						font-weight: 300;
						line-height: 1.7rem;
						font-family: $headings-font;
						margin: 0;
						text-transform: capitalize;
					}

					p {
						font-size: 0.95rem;
						line-height: 1.5rem;
						margin: 0.5rem 0 0 0;
					}
				}
			}

		}
	}

	#page_content {
		margin: 1.5rem 0 1rem 0;
		font-size: 0.9rem;
		text-align: justify;
		line-height: 1.5rem;

		ol, ul {
			list-style-position: outside;

			li {
				padding-left: 0.9rem;
			}
		}

		img[data-float="left"] {
			margin: 0.8rem 1.5rem 0.5rem 0;
		}

		img[data-float="right"] {
			margin: 0.8rem 0 0.5rem 1.5rem;
		}

		img[data-float="none"] {
			display: table;
			margin: 0.8rem auto 0.5rem auto;
			max-width: 100%;
		}

		#gallery_container {
			position: relative;
			overflow-x: hidden;
			margin-top: 1.5rem;
		}

		.gallery_items {
			margin: -0.5rem -0.75rem 0 -0.75rem;
			position: relative;

			> div {
				padding: 0.4rem;

				> h4 {
					margin: 0.6rem 0 0.3rem 0;
					font-size: 0.95rem;
					line-height: 1.4rem;

					a {
						font-family: $headings-font;
					}
				}
			}
		}

		#galleries_container {
			position: relative;
			margin-top: 1.5rem;

			.gallery_items {
				margin: -0.5rem -0.4rem 0 -0.4rem;
			}
		}

		#playlists_container {
			margin-top: 1.5rem;
			position: relative;

			> .row {
				margin: 0 -0.6rem;
				position: relative;

				> div {
					padding: 0.5rem;

					> a {
						display: block;
						background-size: cover;
						background-repeat: no-repeat;
						text-decoration: none;
						background-position: center center;
					}

					> h4 {
						margin: 0.6rem 0 0.3rem 0;
						font-size: 0.95rem;
						line-height: 1.4rem;

						a {
							font-family: $headings-font;
						}
					}
				}
			}
		}

		#playlist_container {
			margin-top: 1.5rem;
			position: relative;

			> .row {
				margin: 0 -0.6rem;
				position: relative;

				> div {
					padding: 0.5rem;

					> a {
						position: relative;
						display: block;

						span {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							color: transparent;
							font-size: 2rem;
							text-align: center;
							padding-top: 18%;
						}
					}

					> a:hover {

						span {
							background: rgba( 0, 0, 0, 0.5 );
							color: #fff;
						}
					}

					> h4 {
						margin: 0.6rem 0 0.3rem 0;
						font-size: 0.95rem;
						line-height: 1.4rem;

						a {
							font-family: $headings-font;
						}
					}
				}
			}
		}

		#video_container {
			margin: 1rem 0;
		}

		.article_summary {
			font-size: 0.97rem;
			font-style: italic;
			font-weight: 500;
			margin: 0 0 1rem 0;
			color: $dark-color;
			opacity: 0.9;
		}

		.article_meta {
			margin: 0 0 1.5rem 0;
			padding : 0.2rem 0 0.5rem 0;
			border-bottom: 1px solid #eee;

			a {

				i {
					font-size: 2rem;
					display: inline-block;
					margin-left: 0.5rem;
					margin-top: -0.4rem;
				}

				i.fa-facebook-official {
					color: #3b5998;
				}

				i.fa-twitter {
					color: #55acee;
				}
			}

			a:hover i {
				opacity: 0.8;
			}
		}

		> h2 {
			font-size: 1.2rem;
			font-family: $headings-font;
			margin: -0.5rem 0 1rem 0;
			line-height: 1.8rem;
			text-align: left;
		}

		h3 {
			font-size: 1.2rem;
			font-family: $headings-font;
			margin: 2rem 0 1rem 0;
			line-height: 1.5rem;
		}

		> h3:first-child {
			margin: 0rem 0 1.3rem 0;
			text-transform: capitalize;
		}

		#categories_list {
			margin: 1rem 0;
			padding: 0;
			list-style: none;

			h4 {
				margin: 2.5rem 0 1rem 0;
				height: 1rem;

				a {
					font-family: $headings-font;
					font-weight: 600;
					font-size: 1rem;
					display: table;
					margin-top: -0.5rem;
					background-color: #fff;
					line-height: 1rem;
					padding-right: 1rem;
				}
			}
		}

		#category_articles_list {
			display: table;
			width: 100%;
			margin: 1rem 0 0 -0.78rem;

			.row {
				margin: 0 -0.78rem 0 0;

				> div {
					padding: 0 0 0 0.8rem;
					margin-bottom: 0.8rem;

					> div {
						height: 14rem;
						position: relative;

						> h4 {
							position: absolute;
							right: 0;
							bottom: -0.5rem;
							left: 0;
							padding: 0.5rem 1rem 0.7rem 1rem;
							line-height: 1.5rem;
							font-size: 0.95rem;
							color: #fff;
							background: rgba( 0, 0, 0, 0.5 );
						}

						> div {
							display: none;
						}
					}

					> div:hover {

						h4 {
							display: none;
						}

						> div {
							display: block;
							background: rgba( 0, 0, 0, 0.7 );
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							padding: 0.7rem 1rem 1rem 1rem;

							h3 {
								font-family: $headings-font;
								color: #fff;
								font-size: 0.9rem;
								line-height: 1.5rem;
								margin: 0 0 0.5rem 0;
							}

							p {
								font-family: $content-font;
								color: rgba( 255, 255, 255, 0.8 );
								font-size: 0.95rem;
							}

							a.btn {
								@include border-radius( 0 );
								font-size: 0.95rem;
								padding: 0.5rem 1rem;
								background-color: $link-color;
								border-width: 0;
							}

							a.btn:hover {
								background-color: $link-hover-color;
							}
						}
					}
				}
			}
		}

		.items_pagination {
			display: table;
			margin: 0 auto -1rem auto;

			li {
				a {
					padding: 0.4rem 0.8rem;
					font-size: 0.8rem;
					color: $link-color;
					text-decoration: none;
				}
			}

			li.active {
				a {
					border-color: rgb( 221, 221, 221 );
					background: #eee;
					color: #555;
				}
			}

			li:first-child,
			li:last-child {

				a {
					@include border-radius(0);
				}
			}
		}

		> h4 {
			font-size: 1rem;
			font-family: $headings-font;
			margin: 1.5rem 0 1rem 0;
			line-height: 1.5rem;
		}

		#about_sections {
			margin-top: 1rem;

			> .row {
				margin: 0 -0.5rem 0 -0.5rem;

				> div {
					padding: 1rem 0.5rem 0 0.5rem;
				}

				h4 {
					font-size: 1rem;
					font-family: $headings-font;
					margin: 1.7rem 0 1rem 0;
					background-color: #eee;
					height: 1rem;

					span {
						text-transform: capitalize;
						font-family: $headings-font;
						font-size: 0.95rem;
						display: table;
						margin-top: -0.5rem;
						background-color: #fff;
						line-height: 1rem;
						padding-right: 1rem;
						text-decoration: none;
						color: $link-color;
					}
				}
			}
		}

		#team_member_info {

			.row {
				margin: 0 -1rem;

				> * {
					padding: 0 0.5rem;
				}

				> *:first-child {

					img {
						margin-top: 0.4rem;
						margin-bottom: 0rem;
					}

					h4 {
						margin: 1.5rem 0 0.5rem 0;
						background-color: #eee;
						height: 1rem;

						span {
							text-transform: uppercase;
							font-family: $headings-font;
							font-size: 0.95rem;
							display: table;
							margin-top: -0.5rem;
							background-color: #fff;
							line-height: 1rem;
							padding-right: 1rem;
							text-decoration: none;
							color: $link-color;
						}
					}
				}
			}
		}

		#team_categories {
			list-style: none;
			padding: 0;
			margin: 0;

			h4 {
				margin: 3rem 0 1rem 0;
				background-color: #eee;
				height: 1rem;

				span {
					text-transform: uppercase;
					font-family: $headings-font;
					font-size: 0.95rem;
					display: table;
					margin-top: -0.5rem;
					background-color: #fff;
					line-height: 1rem;
					padding-right: 1rem;
					text-decoration: none;
					color: $link-color;
				}
			}

			.row {
				margin: -1rem;
				padding-top: 1rem;

				> div {
					padding: 0.5rem 1rem;
					text-align: center;

					img {
						max-width: 11rem;
					}

					p:nth-child(2) {
						margin: 0.7rem 0 0.4rem 0;
						font-family: $headings-font;
						font-size: 1rem;
					}

					p:nth-child(3) {
						margin: -0.3rem 0 0 0;
					}

					a.btn {
						@include border-radius( 0 );
						font-size: 0.95rem;
						padding: 0.5rem 1rem;
						margin: 0.5rem 0 1rem 0;
						background-color: $link-color;
						border-width: 0;
					}

					a.btn:hover {
						background-color: $link-hover-color;
					}
				}
			}
		}

		#our_websites,
		#newsletters {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding: 1rem 0;

				.row {
					margin: 0 -0.5rem;

					> * {
						padding: 0 0.5rem;
					}

					> *:first-child {

						a {
							position: relative;
							display: block;

							span {
								position: absolute;
								right: 0;
								bottom: 0;
								left: 0;
								background: rgba( 0, 0, 0, 0.7 );
								color: #fff;
								padding: 0.7rem 1rem;
								font-size: 0.95rem;
							}
						}
					}

					> *:last-child {

						> h4 {
							font-size: 1rem;
							font-family: $headings-font;
							margin: 0rem 0 1rem 0;
							line-height: 1.5rem;
						}

						a.btn {
							@include border-radius( 0 );
							font-size: 0.95rem;
							padding: 0.5rem 1rem;
							background-color: $link-color;
							border-width: 0;
							float: right;
							margin-top: 1rem;
						}

						a.btn:hover {
							background-color: $link-hover-color;
						}
					}
				}
			}

			li:not(:last-child) {
				border-bottom: 1px dotted #ccc;
			}
		}

		.subscription_form, .payment_form {

			h3 {
				font-size: 1rem;
				color: $link-color;
			}

			input[type="text"],
			input[type="number"],
			input[type="email"],
			select {
				@include border-radius( 0 );
				font-size: 0.9rem;
			}

			.btn {
				@include border-radius( 0 );
				font-size: 0.95rem;
				padding: 0.5rem 1rem;
				background-color: $link-color;
				border-width: 0;
				float: left;
				margin-top: 1rem;
			}

			.btn:hover {
				background-color: $link-hover-color;
			}

			.mailing_list_list {
				display: block;

				input {
					float: left;
					margin: 0.4rem 0.5rem 0 0;
				}
			}
		}

		#search_results {
			margin: 2rem 0 0 0;
			padding: 0rem;
			list-style: none;

			li {
				display: block;
				padding-bottom: 1rem;
				margin: 0 0 1rem 0;
				border-bottom: 1px dotted #eee;

				.row {
					margin: 0 -0.4rem;
					padding: 0;

					> *:first-child {

						a {
							display: block;
							margin-top: 0.2rem;
						}
					}

					> * {
						padding: 0 0.4rem;

						h4 {
							font-size: 0.95rem;
							font-family: $headings-font;
						}

						p {
							margin-bottom: 0rem;
						}
					}
				}
			}

			li:last-child {
				border-bottom: none;
				padding-bottom: 0rem;
			}
		}
	}

	#featured_categories {
		margin: 1rem 0;

		.featured_category {

			.title {
				margin: 2.5rem 0 1rem 0;
				background-color: #eee;
				height: 1rem;

				a {
					text-transform: uppercase;
					font-family: $headings-font;
					font-weight: 600;
					font-size: 0.95rem;
					display: table;
					max-width: 80%;
					margin-top: -0.5rem;
					background-color: #fff;
					line-height: 1rem;
					padding-right: 1rem;
					text-decoration: none;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.featured-articles {
				overflow-x: hidden;

				.row {
					margin: 0 -0.78rem 0 0;

					> a {
						position: absolute;
						top: 40%;
						z-index: 5;
						color: #fff;
						font-size: 0.9rem;
						background: $overlay-color;
						padding: 0.62rem 0.6rem 0.58rem 0.8rem;
						line-height: 0rem;
						border-radius: 100%;
					}

						> a:hover {
							color: #fff;
							background: $overlay-hover-color;
						}

					> a.slick-disabled {
						visibility: hidden;
					}

					> a:first-child {
						padding: 0.62rem 0.8rem 0.58rem 0.6rem;
						left: 1rem;
					}

					> a:last-child {
						right: 1.5rem;
					}

					> div {
						padding: 0;

						.slick-track {
							margin: 0 -0.8rem;

							> div {
								padding: 0 0 0 0.8rem;

								> div {
									height: 14rem;
									position: relative;

									> h4 {
										position: absolute;
										right: 0;
										bottom: -0.8rem;
										left: 0;
										padding: 0.5rem 1rem 0.8rem 1rem;
										line-height: 1.5rem;
										font-size: 0.95rem;
										color: #fff;
										background: $overlay-color;
									}

									> div {
										display: none;
									}
								}

								> div:hover {

									h4 {
										display: none;
									}

									> div {
										display: block;
										background: $overlay-hover-color;
										position: absolute;
										top: 0;
										right: 0;
										bottom: 0;
										left: 0;
										padding: 0.7rem 1rem 1rem 1rem;

										h3 {
											font-family: $headings-font;
											color: #fff;
											font-size: 0.9rem;
											line-height: 1.5rem;
										}

										p {
											font-family: $content-font;
											color: rgba( 255, 255, 255, 0.8 );
											font-size: 0.95rem;
										}

										a.btn {
											@include border-radius( 0 );
											font-size: 0.95rem;
											padding: 0.5rem 1rem;
											background-color: $link-color;
											border-width: 0;
										}

										a.btn:hover {
											background-color: $link-hover-color;
										}
									}
								}
							}
						}
					}
				}
			}
		}

	}

	#related_articles_list,
	#related_projects_list,
	.partner_category {
		text-align: left;

		.title {
			margin: 3rem 0 1rem 0;
			background-color: #eee;
			height: 1rem;

			span {
				text-transform: uppercase;
				font-family: $headings-font;
				font-size: 0.95rem;
				display: table;
				margin-top: -0.5rem;
				background-color: #fff;
				line-height: 1rem;
				padding-right: 1rem;
				text-decoration: none;
				color: $link-color;
			}
		}

		.partners h4 {
			text-align: center;
		}

		.articles,
		.projects,
		.partners {
			overflow-x: hidden;

			.row {
				margin: 0 -0.78rem 0 0;

				> a {
					position: absolute;
					top: 40%;
					z-index: 5;
					color: #fff;
					font-size: 0.9rem;
					background: $overlay-color;
					padding: 0.62rem 0.6rem 0.58rem 0.8rem;
					line-height: 0rem;
					border-radius: 100%;
				}

				> a:hover {
					color: #fff;
					background: $overlay-hover-color;
				}

				> a.slick-disabled {
					visibility: hidden;
				}

				> a:first-child {
					padding: 0.62rem 0.8rem 0.58rem 0.6rem;
					left: 1rem;
				}

				> a:last-child {
					right: 1.5rem;
				}

				> div {
					padding: 0;

					.slick-track {
						margin: 0 -0.8rem;

						> div {
							padding: 0 0 0 0.8rem;

							> div {
								height: 14rem;
								position: relative;

								> h4 {
									position: absolute;
									right: 0;
									bottom: -0.8rem;
									left: 0;
									padding: 0.5rem 1rem 0.8rem 1rem;
									line-height: 1.5rem;
									font-size: 0.95rem;
									color: #fff;
									background: $overlay-color;
								}

								> div {
									display: none;
								}
							}

							> div:hover {

								h4 {
									display: none;
								}

								> div {
									display: block;
									background: $overlay-hover-color;
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									padding: 0.7rem 1rem 1rem 1rem;

									h3 {
										font-family: $headings-font;
										color: #fff;
										font-size: 0.9rem !important;
										line-height: 1.5rem !important;
										margin: 0 0 0.5rem 0 !important;
									}

									span {
										font-family: $content-font;
										color: rgba( 255, 255, 255, 0.8 );
										font-size: 1rem;
										font-style: italic;
										display: block;
										margin-bottom: 0.5rem;
									}

									p {
										font-family: $content-font;
										color: rgba( 255, 255, 255, 0.8 );
										font-size: 0.95rem;
									}

									a.btn {
										@include border-radius( 0 );
										font-size: 0.95rem;
										padding: 0.5rem 1rem;
										background-color: $link-color;
										border-width: 0;
									}

									a.btn:hover {
										background-color: $link-hover-color;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	footer {
		background: $link-color;
		padding: 2rem 0;
		margin-top: 1rem;

		> .container {

			> .row {
				margin: 0 -1rem;

				> * {
					padding: 0 1rem;
					border-left: 1px solid rgba( 255, 255, 255, 0.05 );
					min-height: 6rem;

					> div {
						padding-top: 0.5rem;

						h3 {
							font-family: $headings-font;
							color: #fff;
							font-size: 0.95rem;
							line-height: 0rem;
							margin-bottom: 1.5rem;
							text-transform: uppercase;
						}

						ul {
							padding: 0rem;
							margin: 0rem;
							list-style: none;

							li {

								a {
									color: rgba( 255, 255, 255, 0.8 );
									padding: 0.4rem 0;
									display: block;
									font-size: 0.95rem;

									i {
										font-size: 2rem;
										float: left;
										margin: -0.3rem 0.5rem 0 0;
									}
								}

								a:hover {
									color: rgba( 255, 255, 255, 1 );
									text-decoration: none;
								}
							}

							li:not(:last-child) {
								border-bottom: 1px dotted rgba( 255, 255, 255, 0.1 );
							}
						}
					}
				}

				> *:first-child {
					border: none;
				}

				> *:last-child {

					> div {

						h3 {
							margin-bottom: 1.1rem;
						}

						ul {

							li {

								a {
									padding: 0.9rem 0;
								}
							}
						}
					}
				}
			}
		}
	}

	.featured-articles .content-slider,
	#related_articles_list .content-slider,
	#related_projects_list .content-slider,
	.partner_category .content-slider {
		visibility: hidden;
	}

}