@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i' );
@import url( 'https://fonts.googleapis.com/css?family=Montserrat' );

$headings-font: 'Montserrat', sans-serif;
$content-font: 'Source Sans Pro', sans-serif;

$dark-color: #231f20;

$link-color: #2a3893;
$link-hover-color: #30b77d;
$overlay-color: rgba( 0, 0, 0, 0.6 );
$overlay-hover-color: rgba( 0, 0, 0, 0.8 );

@mixin box-shadow( $params... ) {
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	box-shadow: $params;
}

@mixin border-radius( $params... ) {
	-webkit-border-radius: $params;
	-moz-border-radius: $params;
	border-radius: $params;
}

@mixin round-position( $params... ) {
	top: $params;
	right: $params;
	bottom: $params;
	left: $params;
}

@mixin full-background( $position ) {
	background-position: $position;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	font-family: $content-font;
	padding-top: 4.5rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 0.9rem;

	.note-popover {
		display: none;
	}

	a {
		color: $link-color;
	}

	a:hover {
		color: $link-hover-color;
	}

	header {
		padding: 0;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 15;
		background: $link-color;
		@include box-shadow( none );

		> .container > .row {

			> div:first-child {

				> a {
					color: rgba( 255, 255, 255, 0.9 );
					font-family: $headings-font;
					display: inline-block;
					padding: 0.8rem 0;
					text-decoration: none;
				}

				> a:hover {
					color: rgba( 255, 255, 255, 1 );
				}
			}

			> div:last-child {

				> ul {

					> li {

						> a {
							color: rgba( 255, 255, 255, 0.9 );
							display: inline-block;
							padding: 0.8rem 0 0.7rem 0;
							text-decoration: none;
							font-size: 0.9rem;
						}

						> a:hover {
							color: rgba( 255, 255, 255, 1 );
						}

						.dropdown-menu {
							@include border-radius( 0 );
							right: 1rem;
							padding: 0;
							min-width: 3rem;
							width: 100%;
							border-top: none;

							li {
								padding: 0;
								border-bottom: 1px dotted #eee;

								a {
									padding: 0.4rem 1rem;
									display: block;
									font-size: 0.9rem;
									text-decoration: none;
								}
							}

							li:last-child {
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}

	#sidebar_menu {

		ul {

			li {
				border-bottom: 1px solid #eee;

				> span {
					font-family: $headings-font;
					font-size: 0.8rem;
					color: #888;
					text-transform: uppercase;
					display: block;
					padding: 0.8rem 0 0.7rem 0;
					font-weight: normal;
				}

				a {
					display: block;
					padding: 0.6rem 1rem;
					font-family: $headings-font;
					font-size: 0.8rem;
					line-height: 1.3rem;
					background-color: #f8f8f8;
				}

				a.active {
					background: $link-color;
					color: #fff;
					position: relative;
				}

				a.active::after {
					font-family: 'FontAwesome';
					content: '\f0da';
					position: absolute;
					right: -0.6rem;
					top: 0.6rem;
					font-size: 2rem;
					color: $link-color;
				}
			}

			li:last-child {
				border-bottom: none;
			}
		}
	}

	.checklist_container {

		ul {
			max-height: 10rem;
			overflow: auto;
			margin: 0rem;
			padding: 0rem;

			li {
				clear: both;
				margin-bottom: 0.2rem;

				label {
					padding-left: 1.5rem;

					input {
						float: left;
						margin-left: -1.5rem;
						margin-top: 0.4rem;
					}
				}
			}
		}
	}

	.items_pagination {
		display: table;
		margin: -1rem auto;

		.pagination {

			li {
				a {
					padding: 0.3rem 0.7rem;
					font-size: 0.8rem;
					color: $link-color;
					text-decoration: none;
				}
			}

			li.active {
				a {
					border-color: rgb( 221, 221, 221 ) !important;
					background: #eee !important;
					color: #555;
				}
			}

			li:first-child,
			li:last-child {
				a {
					@include border-radius( 0 );
				}
			}
		}
	}

	.note-editor {

		h1, h2, h3, h4, h5, h6 {
			font-family: $headings-font;
		}

		h1 {
			font-size: 1.2rem;
		}

		h2 {
			font-size: 1.15rem;
		}

		h3 {
			font-size: 1.1rem;
		}

		h4 {
			font-size: 1.05rem;
		}

		h5 {
			font-size: 1rem;
		}

		h6 {
			font-size: 0.95rem;
		}

		.dropdown-menu {
			@include border-radius( 0 );
			min-width: 8rem !important;
			padding: 0rem;

			li {
				padding: 0;
				border-bottom: 1px dotted #eee;

				a {
					text-decoration: none;
					padding: 0.5rem 0.8rem;
					display: block;
					font-size: 0.95rem;

					p, pre, blockquote {
						padding: 0;
						margin: 0;
						display: block;
						color: $link-color;
					}

					h1, h2, h3, h4, h5, h6 {
						margin: 0;
						padding: 0;
						text-transform: capitalize;
						display: block;
						color: $link-color;
					}
				}
			}

			li:last-child {
				border-bottom: none;
			}
		}
	}

	h1 {
		margin: 0 0 1.5rem 0;
		padding: 0;
		font-family: $headings-font;
		line-height: 1.4rem;
		font-size: 1.15rem;

		a.btn {
			@include border-radius( 0 );
			font-size: 0.8rem;
			padding: 0.5rem 0.8rem;
			background-color: $link-color;
			border-width: 0;
			margin-left: 0.5rem;
		}

		a.btn:hover {
			background-color: $link-hover-color;
		}
	}

	.table {

		thead {

			tr {

				th {
					font-size: 0.9rem;
					font-weight: 600;
					padding: 0.5rem 0.7rem;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		thead:last-child {

			tr {

				th {
					border-bottom-width: 0;
				}
			}
		}

		tbody {

			tr {

				td {
					font-size: 0.9rem;
					font-weight: normal;
					padding: 0.5rem 0.7rem;
				}

				td.column-cb {
					width: 1rem;
				}

				td.column-id {
					width: 3.5rem;
				}

				td.column-thumbnail {
					width: 3.9rem;

					img,
					div {
						background-color: #eee;
						width: 4.5rem;
						height: 4.5rem;
					}
				}

				td.column-title {

					h4 {
						margin: 0 0 0 1rem 0;
						padding: 0;
						font-family: $content-font;
						font-size: 0.95rem;
						font-weight: 600;
						text-decoration: none;
					}

					div {
						visibility: hidden;

						a {
							opacity: 0.8;
						}

						a:not(:first-child):before {
							content: "\00b7";
							padding: 0 0.2rem;
							text-decoration: none;
							color: $dark-color;
						}

						a:hover {
							text-decoration: none;
							opacity: 1;
						}

						a.del {
							color: red;
						}
					}
				}

				.column-position {
					width: 6rem;
				}

				.column-order {
					width: 4rem;
				}

				.column-mailing_list {
					width: 12rem;
				}

				.column-name {
					width: 7rem;
				}

				.column-timestamp {
					width: 10rem;
				}
			}

			tr:hover {

				td.column-title {

					div {
						visibility: visible;
					}
				}
			}

			tr:nth-child( odd ) {
				background-color: #f8f8f8;
			}
		}
	}

	.nav-tabs {
		margin: 0 0 1rem 0;

		li:first-child {
			margin-left: 1rem;
		}

		li {
			a {
				font-size: 0.8rem;
				padding: 0.5rem 0.8rem;
				font-family: $headings-font;
				@include border-radius( 0 !important );
			}
		}
	}

	form {

		label:not(:last-child) {
			font-family: $headings-font;
			font-size: 0.8rem;
		}

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="url"] {
			font-size: 0.9rem;
			@include border-radius( 0 );
			height: 2.1rem !important;
			line-height: 0rem !important;
			padding: 0.3rem 0.5rem !important;
		}

		select {
			font-size: 0.9rem !important;
			@include border-radius( 0 !important );
			height: 2.1rem !important;
			line-height: 0rem !important;
			padding: 0.3rem 0.5rem !important;
		}

		h4 {
			text-transform: uppercase;
			font-family: $headings-font;
			font-size: 0.8rem;
			color: rgba( 0, 0, 0, 0.5 );
			margin: 1.5rem 0 0.8rem 0;
			padding: 0;
			line-height: 1rem;
		}

		h4:first-child {
			margin-top: 0rem;
		}

		img {
			margin: 0.5rem 0;
		}

		label[for="show_in_menu"] {
			margin-bottom: -0.5rem;
			display: block;
		}

		input.btn {
			@include border-radius( 1px );
			font-size: 0.8rem;
			padding: 0.5rem 0.8rem;
			background-color: $link-color;
			border-width: 0;
			font-family: $headings-font;
			margin: 0.4rem 0 1rem 0;
		}

		input.btn:hover {
			background-color: $link-hover-color;
		}
	}

	.note-btn-group.btn-group.note-color,
	.note-btn-group.btn-group.note-fontname {
		display: none !important;
	}

	.note-btn-group button {
		@include border-radius( 0 !important );
	}

	.note-editable {
		font-size: 0.9rem;
	}

	.note-frame {
		border-color: rgba( 0, 0, 0, 0.15 ) !important;
	}
}