@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i' );
@import url( 'https://fonts.googleapis.com/css?family=Montserrat' );

$headings-font: 'Montserrat', sans-serif;
$content-font: 'Source Sans Pro', sans-serif;

$dark-color: #231f20;

$link-color: #2a3893;
$link-hover-color: #69bc48;

@mixin box-shadow( $params... ) {
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	box-shadow: $params;
}

@mixin border-radius( $params... ) {
	-webkit-border-radius: $params;
	-moz-border-radius: $params;
	border-radius: $params;
}

body {
	font-family: $content-font;
	background-color: #f8f8f8;

	#login_form {
		display: table;
		margin: 12rem auto 0 auto;
		width: 17rem;
		@include border-radius( 0 );
		@include box-shadow( 0 0 0.1rem rgba( 0, 0, 0, 0.3 ) );
		padding: 1rem;
		background-color: #fff;
		opacity: 0;

		img {
			display: table;
			margin: 0 auto 1rem auto;
		}

		input[type="text"] {
			@include border-radius( 0 );
			font-size: 0.9rem;
			height: 2.2rem;
		}

		input[type="password"] {
			@include border-radius( 0 );
			font-size: 0.9rem;
			height: 2.2rem;
			border-top: none;
		}

		.btn {
			margin-top: 1rem;
			font-size: 0.9rem;
			height: 2.2rem;
			line-height: 0rem;
			@include border-radius( 0 );
		}
	}
}
